# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production
.env.development

# OS specific files
.DS_Store

# Build output
dist/
dist-electron/
build/

# Application Data
backend/data/
